.__dc_newPost {
  border-radius: 10px;
  background-color: transparent;
  color: black;
  animation: newPost 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes newPost {
  0% {
    background-color: rgba(0, 162, 255, 0.65);
    color: white;
  }

  100% {
    background-color: transparent;
    color: black;
  }
}
