.__dcRef_blockedPosts {
  display: none;
}

::selection {
  background-color: #20dbb3;
}

.__dc_newPost {
  border-radius: 10px;
  background-color: transparent;
  color: black;
  animation: newPostBG 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes newPostBG {
  0% {
    background: rgba(0, 140, 255, 0);
  }

  20% {
    background: rgba(0, 140, 255, 0.3);
  }

  100% {
    background: rgba(0, 140, 255, 0);
  }
}

.__hoverBox_nosee {
  display: none;
  visibility: hidden;
}

.__hoverBox_loader {
  width: 400px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@keyframes bg_loop {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.__hoverBox_wrap,
.__hoverBox_dccon_wrap,
.__hoverBox_dccon_outer,
.__hoverBox_outer {
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.__hoverBox_wrap,
.__hoverBox_dccon_wrap {
  position: fixed;
  width: fit-content;
  height: fit-content;
  max-width: 1000px;
  min-width: 400px;
  max-height: 60%;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 0px 32px rgba(112, 112, 112, 0.35);
  z-index: 10000;
  overflow: auto;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  padding: 1% 2.5%;
}

.__hoverBox_dccon_wrap {
  z-index: 10001;
}

.__dark.__hoverBox_wrap,
.__dark.__hoverBox_dccon_wrap {
  background-color: #2c2c2c;
  color: rgb(255, 255, 255);
}

.__hoverBox_header {
  display: block;
  position: relative;
  width: 100%;
}

.__hoverBox_postTitle,
.__hoverBox_nickWrap {
  display: block;
}

.__hoverBox_postTitle {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}

.__hoverBox_nickWrap {
  font-weight: 100;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.__hoverBox_nickName {
  color: #424242;
}

.__dark .__hoverBox_nickName {
  color: rgb(233, 233, 233);
}

.__hoverBox_nickName::after,
.__hoverBox_nickIP::after {
  content: " | ";
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: #a1a1a1;
}

.__hoverBox_nickId {
  font-size: 12px;
  color: #a8a8a8;
  cursor: pointer;
  transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.__hoverBox_nickId:hover {
  color: #c0c0c0;
}

.__hoverBox_nickId:active {
  color: #d8d8d8;
}

.__hoverBox_error {
  width: 400px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.__hoverBox_errTitle {
  font-size: 24px;
}

.__hoverBox_muteText {
  color: #c0c0c0;
}

.__dark .__hoverBox_muteText {
  color: rgb(185, 185, 185);
}

.__hoverBox_nickIP {
  font-size: 12px;
  color: #636363;
}

.__dark .__hoverBox_nickIP {
  color: rgb(207, 207, 207);
}

.__hoverBox_date {
  font-size: 12px;
  color: #555555;
}

.__dark .__hoverBox_date {
  color: rgb(201, 201, 201);
}

.__hoverBox_nickIcon {
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(97, 97, 97, 0.15);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2px;
}

/* 유동 */
.__hoverBox_icon0 {
  background: #fff;
}

/* 고닉 */
.__hoverBox_icon1 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(255, 242, 55) 30%,
    rgb(255, 232, 102) 100%
  );
}

/* 반고닉 */
.__hoverBox_icon2 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(201, 201, 201) 30%,
    rgb(180, 180, 180) 100%
  );
}

/* 파딱 */
.__hoverBox_icon3 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(0, 140, 255) 0%,
    rgb(102, 173, 255) 100%
  );
}

/* 주딱 */
.__hoverBox_icon4,
.__hoverBox_icon20 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(255, 136, 0) 0%,
    rgb(255, 176, 102) 100%
  );
}

/* 주딱 풍선 바이러스 */
.__hoverBox_icon5 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(255, 136, 0) 0%,
    rgb(95, 185, 35) 80%
  );
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

/* 파딱 풍선 바이러스 */
.__hoverBox_icon6 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(0, 140, 255) 0%,
    rgb(95, 185, 35) 80%
  );
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

/* 반고닉 풍선 바이러스 */
.__hoverBox_icon7 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(201, 201, 201) 30%,
    rgb(95, 185, 35) 80%
  );
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

/* 고닉 풍선 바이러스 */
.__hoverBox_icon8 {
  background: -webkit-linear-gradient(
    330deg,
    rgb(255, 242, 55) 30%,
    rgb(95, 185, 35) 80%
  );
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.__hoverBox_contentWrap {
  padding: 5.82% 2.5%;
  height: fit-content;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.__hoverBox_voteWrap,
.__hoverBox_voteCodeWrap {
  display: flex;
  margin-top: 24px;
}

.__hoverBox_upvoteWrap,
.__hoverBox_purchaseWrap,
.__hoverBox_blockWrap,
.__hoverBox_downvoteWrap,
.__hoverBox_manageDelete {
  display: flex;
  justify-content: center;
  flex: 1;
}

.__dark .__hoverBox_upvoteWrap,
.__dark .__hoverBox_purchaseWrap,
.__dark .__hoverBox_blockWrap,
.dark .__hoverBox_downvoteWrap,
.dark .__hoverBox_manageDelete {
  color: white;
}

.__hoverBox_upvoteWrap:hover,
.__hoverBox_purchaseWrap:hover,
.__hoverBox_blockWrap:hover,
.__hoverBox_downvoteWrap:hover,
.__hoverBox_manageDelete:hover {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 5px;
}

.__hoverBox_purchaseWrap:hover {
  background-color: rgba(0, 102, 255, 0.55);
}

.__hoverBox_blockWrap:hover {
  background-color: rgba(255, 17, 0, 0.55);
}

.__hoverBox_upvoteWrap:hover {
  background-color: rgba(255, 136, 0, 0.23);
}

.__hoverBox_downvoteWrap:hover {
  background-color: rgba(0, 162, 255, 0.23);
}

.__hoverBox_manageDelete:hover {
  background-color: rgba(255, 0, 0, 0.23);
}

.__hoverBox_purchaseWrap:hover {
  background-color: rgba(0, 102, 255, 0.75);
}

.__hoverBox_blockWrap:hover {
  background-color: rgba(255, 17, 0, 0.75);
}

.__hoverBox_upvoteWrap:active {
  background-color: rgba(255, 136, 0, 0.53);
}

.__hoverBox_downvoteWrap:active {
  background-color: rgba(0, 162, 255, 0.53);
}

.__hoverBox_manageDelete:active {
  background-color: rgba(255, 0, 0, 0.53);
}

.__hoverBox_voteIcon {
  width: 24px;
  height: 24px;
}

.__dark .__hoverBox_voteIcon {
  filter: invert(100%);
}

.__hoverBox_btnCountsText {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.__hoverBox_seperater {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #a5a5a5;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.35);
}

.__dark .__hoverBox_seperater {
  background-color: #414141;
  box-shadow: 0px 0px 4px rgba(124, 124, 124, 0.35);
}

.__hoverBox_loader {
  display: flex;
}

.__hoverBox_outer,
.__hoverBox_dccon_outer {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: rgba(39, 39, 39, 0.23);
}

.__hoverBox_dccon_outer {
  z-index: 10000;
}

@keyframes newPost {
  0% {
    background-color: rgba(0, 162, 255, 0.65);
    color: white;
  }

  100% {
    background-color: transparent;
    color: black;
  }
}

.__hoverBox_dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
}
.__hoverBox_dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: __hoverBox_dual-ring-anime 1.2s linear infinite;
}

.__dark .__hoverBox_dual-ring:after {
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
}

@keyframes __hoverBox_dual-ring-anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.__hoverBox_commentWraps {
  display: block;
  margin-bottom: 10px;
  padding: 1.5%;
}

.__hoverBox_commentContent {
  display: block;
  margin-left: 12px;
}

.__hoverBox_dcconBlocked {
  opacity: 0.5;
  margin-top: 5px;
}

.__hoverBox_dccon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(136, 136, 136, 0.3);
  cursor: pointer;
}

.__hoverBox_dccon:hover {
  box-shadow: 0px 0px 16px rgba(136, 136, 136, 0.4);
}

.__hoverBox_dccon:active {
  box-shadow: 0px 0px 18px rgba(136, 136, 136, 0.6);
}

.__hoverBox_dcconLoading {
  background: linear-gradient(
    330deg,
    rgb(131, 131, 131) 30%,
    rgb(211, 211, 211) 100%
  );
  animation: bg_loop 10s infinite;
  background-size: 400 400%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.__hoverBox_deletedCmt {
  color: #b4b4b4;
}

.__dark .__hoverBox_deletedCmt {
  color: #838383;
}

.__hoverBox_pushLeft1 {
  margin-left: 25px;
}

.__hoverBox_shakeAnime {
  animation: shake 0.32s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.__hoverConBox_alignCenter {
  text-align: center;
}

.__hoverConBox_mainImg {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.__hoverConBox_mainImg img {
  width: 128px;
  height: 128px;
  border-radius: 25%;
  box-shadow: 0px 8px 30px rgba(51, 51, 51, 0.4);
}

.__hoverConBox_title {
  font-size: 23px;
  margin-bottom: 5px;
}

.__hoverConBox_desc {
  font-size: 12px;
  margin-bottom: 5px;
}

.__hoverConBox_info_detail {
  font-size: 10px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.__hoverConBox_img_more {
  width: 100px;
  height: 100px;
  background-color: rgba(32, 32, 32, 0.3);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.__hoverBox_aLink,
.__hoverBox_commentContent a {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: rgb(0, 140, 255);
  transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.__dark .__hoverBox_contentWrap .__hoverBox_aLink,
.__dark .__hoverBox_commentContent a {
  background-color: #222222;
  color: rgb(0, 140, 255);
}

.__hoverBox_aLink:hover,
.__hoverBox_commentContent a:hover {
  color: rgb(0, 120, 255);
}

.__hoverBox_aLink:active,
.__hoverBox_commentContent a:active {
  color: rgb(0, 100, 255);
}

.__hoverBox_pageNCollect {
  display: flex;
  width: fit-content;
  margin: auto;
}

.__hoverBox_frPage {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
  font-weight: 100;
}

.__hoverBox_frCurPage {
  font-weight: 900;
}

.__dcref_ip {
  letter-spacing: -0.1em;
  margin-left: 2px;
  font-size: 11px;
  color: #999;
}