body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans CJK KR',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$shadow-0dp: none;
$shadow-1dp: 0px 0px 16px rgba(0, 0, 0, 0.08);
$shadow-2dp: 0px 0px 16px rgba(0, 0, 0, 0.12);
$shadow-3dp: 0px 0px 16px rgba(0, 0, 0, 0.24);

@import './spinner.scss';
@import './settings.scss';
@import './adblock.scss';

@import './darkmode.scss';

@import './animations.scss';

// Frame core

.refresher-frame-outer {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  overflow: hidden;

  z-index: 100;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.stack {
    display: block;
    min-height: 100%;
  }

  &.fadeIn {
    transition: 0.6s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;

    .refresher-frame {
      transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateY(0px);
    }
  }

  &.fadeOut {
    transition: 0.25s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    pointer-events: none;

    .refresher-frame {
      transition: 0.25s transform cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateY(10px);
    }
  }

  &.background {
    background-color: rgba(221, 221, 221, 0.6);
  }
}

.refresher-group {
  position: absolute;
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  overscroll-behavior: contain;
}

.refresher-scroll {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(12, 23, 53, 0.7),
    rgba(32, 42, 72, 0.3),
    rgba(0, 0, 0, 0)
  );
  color: white;
  display: flex;
  justify-content: center;
  pointer-events: none;

  &.top {
    top: 0;
    bottom: unset;
    background: linear-gradient(
      to bottom,
      rgba(12, 23, 53, 0.7),
      rgba(32, 42, 72, 0.3),
      rgba(0, 0, 0, 0)
    );

    .center {
      top: unset;
      bottom: 20%;
    }
  }

  .center {
    position: relative;
    margin: auto;
    top: 20%;

    p {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: -1.66px;
    }
  }
}

.refresherDark .refresher-frame {
  &.blur {
    background-color: rgba(41, 41, 41, 0.85);
  }
}

.refresher-frame {
  position: absolute;
  display: block;
  min-width: 100px;
  min-height: 100px;
  max-width: 70%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  transform: translateY(10px);
  box-shadow: $shadow-2dp;
  border-radius: 13.3px;
  padding: 3vh 2.5vw;
  overflow: auto;
  pointer-events: all;

  @media screen and (max-width: 900px) {
    max-width: 90%;
    padding: 3vh 4vw;
  }

  &.center {
    margin: auto;
  }

  &.relative {
    position: relative;
  }

  &.blur {
    backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(245, 245, 245, 0.85);
  }

  &.x-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.y-center {
    margin-top: auto;
    margin-bottom: auto;
  }

  &.preview {
    min-width: 30vw;
    min-height: 100px;
  }
}

.refresherDark .refresher-frame {
  border: 1px solid #505050;
}

// Link

.wrap_inner .view_content_wrap .gallview_contents .inner a {
  margin-top: 5px;
  background-color: rgb(248, 248, 248);
  color: rgb(0, 140, 255);
  padding: 2px 4px;
  border-radius: 5px;
  transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;

  &:hover {
    color: rgb(0, 120, 255);
  }

  &:active {
    color: rgb(0, 100, 255);
  }
}

// Fonts Module

.refresherFont,
.refresherFont .gall_list,
.refresherFont button,
.refresherFont input,
.refresherFont .view_comment div,
.refresherFont .view_content_wrap,
.refresherFont .view_content_wrap a,
.btn_cmt_close,
.btn_cmt_close span,
.btn_cmt_refresh,
.btn_cmt_open {
  font-family: 'Noto Sans CJK KR', 'NanumGothic', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-display: 'swap';
}

// 짤방 2개 해결

.writing_view_box > div#zzbang_div span:last-child {
  display: none !important;
}

// IP Module

.fl .refresherIP {
  margin-left: 3px;
}

.nickname + .refresherIP {
}

// DC Layout Module

.refresherResponsive {
  @media screen and (max-width: 1900px) {
    min-width: unset;

    .wrap_inner {
      width: unset;
    }

    .list_wrap,
    .view_wrap {
      min-width: unset;
      width: 100%;
    }

    .width1160 .dchead,
    .width1160 .gnb,
    .width1160 #container,
    .width1160 .info_policy,
    .width1160 .copyright {
      width: unset;
    }

    .dchead {
      height: 20px;
    }

    .list_wrap .dc_logo,
    .gnb_bar {
      display: none;
    }
    .width1160 .top_search {
      display: none;
    }

    .area_links {
      right: 13px;
    }

    .gall_exposure,
    .right_content,
    .minor_ranking_box,
    .listwrap .issue_contentbox {
      display: none;
    }

    .list_array_option,
    .listwrap .visit_list,
    .listwrap .issuebox {
      width: 100%;
    }

    .listwrap .visit_history {
      width: 98.5%;
    }

    .listwrap .visit_list {
      display: contents;
    }

    .array_tab button {
      width: 72px;
    }

    .page_head h2 {
      font-size: 23px;
    }

    .left_content .visit_list li a {
      width: 60px;
    }

    .gall_issuebox {
      padding-top: unset;
    }

    .listwrap .minor_intro_box {
      padding: 0px 0px 0px 2px;
    }

    main.listwrap {
      display: flex;
    }

    .width1160 .left_content {
      width: 95%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .width1160 .dc_all {
      display: none;
    }
  }
}

// Comment Dory Block Module

.refresherNoDory .dcwrap .wrap_inner .dory {
  display: none;
}

// Refresh Module

.refresherNewPost {
  animation: refTopIn 0.362s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.refresherNewPost * {
  animation: refFadeIn 0.662s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 0ms;
}

@keyframes refTopIn {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes refFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Refresher Preview

@keyframes spin {
  0%,
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }

  50% {
    opacity: 0.6;
    transform: rotateY(360deg);
  }
}

.refresher-frame.preview {
  margin-bottom: 10px;

  &:first-child {
    margin-top: 28vh;
  }

  &:last-child {
    margin-bottom: 28vh;
  }
}

.refresher-frame.preview[data-load='true'] {
  .refresher-preview-contents {
    margin-top: 30px;
    height: 60px;
    display: flex;

    padding-bottom: 1vh;
  }
}

.refresher-preview-contents {
  content-visibility: auto;
}

.refresher-loader {
  position: relative;
  margin: auto;
}

.refresher-frame.preview[data-load='false'] {
  .refresher-loader {
    display: none;
  }
}

.refresher-frame.preview .refresher-preview-contents {
  embed {
    background-color: #333;
    border-radius: 10px;
    box-shadow: $shadow-2dp;
  }

  img,
  video {
    background-color: #333;
    border-radius: 10px;
    box-shadow: $shadow-2dp;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  img::before {
    display: block;
    content: '';
    padding-top: calc(100% * 2 / 3);
  }

  img:hover {
    box-shadow: $shadow-1dp;
  }
}

.refresher-preview-title-zone {
  display: flex;
  position: relative;
}

.refresher-preview-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.66px;
}

.refresher-preview-title-mute {
  font-size: 16px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgb(170, 170, 170);
}

.refresher-preview-meta {
  display: flex;
  margin-top: 5px;

  .float-right {
    margin-left: auto;
  }
}

.refresher-timestamp,
.refresher-countdown {
  font-size: 12px;
  font-weight: thin;
  opacity: 0.6;
}

.refresher-countdown {
  color: #fb4c4c;
}

.refresher-preview-contents,
.refresher-preview-votes {
  position: relative;
}

.refresher-preview-contents {
  font-size: 15px;
  display: block;
  padding-bottom: 2.5vh;
  margin-top: 2vh;

  &.refresher-error {
    h3 {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: -1.66px;
    }

    p {
      font-weight: 400;
    }

    .refresher-mute {
      font-size: 12px;
      opacity: 0.6;
      text-transform: uppercase;
    }

    ul {
      font-weight: 300;
      margin-left: 15px;

      li:before {
        content: '>';
        margin-right: 5px;
      }
    }
  }
}

.refresher-nocomment {
  letter-spacing: -1.66px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 5px;
}

.refresher-nocomment-wrap {
  display: flex;
  justify-content: center;

  img,
  h3 {
    margin: auto;
  }

  img {
    margin-right: 10px;
  }

  h3 {
    margin-left: 10px;
  }
}

.refresher-preview-button {
  width: 120px;
  height: 38px;
  display: flex;
  margin-right: 15px;
  user-select: none;

  background-color: transparent;
  border-radius: 15px;

  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

  &.primary {
    background-color: rgba(0, 110, 255, 0.32);
    -moz-backdrop-filter: saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);

    p {
      color: rgba(255, 255, 255, 0.87);
      font-weight: 500;
      filter: saturate(130%);
    }
  }

  &.refresher-writecomment img {
    background-color: transparent !important;
  }

  &:hover {
    background-color: rgba(0, 110, 255, 0.28);
    cursor: pointer;

    backdrop-filter: blur(10px) saturate(200%);

    box-shadow: $shadow-2dp;
  }

  &:active {
    background-color: rgba(0, 110, 255, 0.22);
    backdrop-filter: blur(10px) saturate(220%);
    box-shadow: $shadow-1dp;
  }

  img {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-right: 10px;
  }

  p {
    margin: auto;
    margin-left: 0px;
    color: #000;
    letter-spacing: -1.66px;

    font-size: 16px;
    font-weight: lighter;
  }
}

.refresher-preview-votes {
  display: flex;
  margin-top: 2.5vh;

  & > div {
    display: flex;
    margin: auto;
  }
}

.refresherDark {
  .refresher-preview-button img {
    // filter: invert(1);
  }

  .refresher-preview-button {
    box-shadow: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
      box-shadow: none;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12);
      box-shadow: none;
    }

    p {
      color: $dark-text-color;
    }

    img {
      filter: invert(1);
    }
  }
}

.refresherDark .refresher-user {
  .refresher-user-icon {
    &[data-type='0'] {
    }
  }
}

.refresher-user {
  display: flex;
  padding: 2px 4px;

  &[data-me='true'] {
    background-color: rgb(20, 109, 243);
    border-radius: 5px;
  }

  .refresher-user-icon,
  .refresher-user-nick,
  .refresher-user-info {
    margin-top: auto;
    margin-bottom: auto;
  }

  .refresher-user-icon,
  .refresher-user-nick {
    margin-right: 5px;
  }

  .refresher-user-icon {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #777;
    display: block;

    box-shadow: $shadow-3dp;

    &[data-type='0'] {
      background-color: rgb(241, 241, 241);
    }

    &[data-type='1'] {
      background-color: #777;
    }

    &[data-type='2'] {
      background-color: rgb(241, 206, 50);
    }

    &[data-type='3'] {
      background-color: rgb(50, 139, 241);
    }

    &[data-type='4'] {
      background-color: rgb(241, 126, 50);
    }
  }

  .refresher-user-nick {
    font-size: 14px;
    font-weight: bold;
  }

  .refresher-user-info {
    opacity: 0.4;
    font-size: 12px;
  }
}

.refresher-comment {
  position: relative;

  &[data-deleted='true'] {
    opacity: 0.4;
  }

  .meta {
    display: flex;

    .float-right {
      margin-left: auto;
    }
  }

  .refresher-timestamp {
    margin-left: 2vw;
  }
}

.refresher-preview-comments .refresher-comment {
  margin-bottom: 2vh;

  .refresher-user {
    margin-bottom: 3px;
  }

  .refresher-comment-content {
    font-size: 14px;
  }
}

.refresher-preview-comments .refresher-comment[data-depth='1'] {
  margin-left: 2.2vw;
}
.refresher-preview-comments .refresher-comment[data-rereply='true'] {
  margin-left: 4.4vw;
}

$btn-width: 38px;
$btn-height: 20px;

.refresher-checkbox {
  display: flex;
  cursor: pointer;
  user-select: none;

  position: relative;
  width: $btn-width;
  height: $btn-height;
  border: 1px solid rgba(170, 170, 170, 0.32);
  border-radius: 50px;

  transition: background 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  .selected {
    position: absolute;
    width: ($btn-width / 2) + 1;
    height: ($btn-width / 2) + 1;
    border-radius: 50%;

    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(51, 51, 51, 0.12);

    transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.disabled {
    opacity: 0.3;
  }

  &[data-on='true'] {
    background-color: #35d08f;

    .selected {
      transform: translateX(($btn-width / 2) - 1);
    }
  }
}
