html(style='width:100vw;height:100vh;margin:0;padding:0;overflow-x:hidden;')
    head
        title DC콘 선택
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../refresher.bundle.css")
        script(src="../dccon.bundle.js")
    body(style='width:100vw;height:100vh;margin:0;padding:0;')
        input(type='text' placeholder='검색할 이름을 입력하세요.' style='width:calc(100% - 75px);margin:5px;padding:0;' id='title')
        button(style='width:45px;' id='search') 검색
        div(style='width:100%' id='main')

