- var version = RefresherVersion
html.refresher-popup
  head
    title DC Refresher
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../refresher.bundle.css")
    script(src="../vue.min.js")
    script(src="../vue.js")
    script(src="../option.bundle.js")
  body
    div#refresher-app
      div.refresher-title-zone
        h1 설정
        .float-right
          p(:class="{active: tab == 0}" v-on:click="() => tab = 0") 일반
          p(:class="{active: tab == 1}" v-on:click="() => tab = 1") 고급
          p(:class="{active: tab == 2}" v-on:click="() => tab = 2") 모듈
      transition-group(name="refresher-slide-left" mode="in-out")
        div.tab.tab1(v-show="tab == 0" key="tab1")
          .info
            img(class="icon" data-image="icon")
            .text
              h3 DCRefresher
              p <span class="version">v#{RefresherVersion}</span>  <a v-for="(link, i) in links" v-on:click="open(link.url)">{{link.text}}</a>
          .settings
            div(class="refresher-setting-category" v-for="(module, i) in Object.keys(settings)")
              h3 {{module}}
              div.refresher-setting(v-for="(setting, i) in Object.keys(settings[module])")
                .info
                  h4 {{settings[module][setting].name}}
                  p {{settings[module][setting].desc}}
                .control
                  refresher-checkbox(v-if="settings[module][setting].type === 'check'" :checked="enabled" :change="updateUserSetting")
                  refresher-input(v-if="settings[module][setting].type === 'text'" :placeholder="settings[module][setting].default" :value="settings[module][setting].value" :id="setting" :modname="module" :change="updateUserSetting")
                  refresher-options(v-if="settings[module][setting].type === 'option'" :options="settings[module][setting].items")
                  span {{settings[module][setting]}}
        div.tab.tab2(v-show="tab == 1" key="tab2")
          h3 고급 설정
          p refresher
        div.tab.tab3(v-show="tab == 2" key="tab3")
          div.refresher-no-modules(v-if="!Object.keys(modules).length")
            h3 로드된 모듈 없음
            p 우선 디시 페이지를 열어주세요.
          div(v-else)
            refresher-module(v-for="(module, i) in modules" :key="module.name" :name="module.name" :desc="module.description" :enabled="module.enable" :author="module.author" :require="module.require")
            br
            hr
            br
            button 제 3자 스크립트 가져오기
