html,
body {
  width: 500px;
  height: 600px;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(
    220deg,
    rgb(0, 195, 255),
    rgb(0, 162, 255),
    rgb(87, 41, 255),
    rgb(41, 116, 255)
  );
  animation: bg_loop 10s infinite;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  color: white;
}

body {
  display: flex;
}

@keyframes bg_loop {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1,
h3,
h5,
p,
span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

h1 {
  font-size: 18px;
  font-weight: 500;
}

.ctr_blck {
  text-align: center;
  margin: auto;
  width: 100%;
}

.opts_wrap {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 10px;
}

.opts_wrap label {
  flex: 0.9;
}

.opts_wrap checkbox {
  flex: 0.1;
}

.opts_blcked_done {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.opts_blcked_seller {
  margin-left: 10px;
  margin-right: 30px;
}

.opts_blcked_delete img {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.opts_blcked_delete {
  border-radius: 5px;
  transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}

.opts_blcked_delete:hover {
  background-color: #f00;
}
